/* hello world */
h1.home-title {
    font-size: 50pt;
    width: 100%;
    left: 0px;
    position: absolute;
    align-self: center;
    margin-top: 10%;
    z-index: 5;
    color: #0267ff;
    text-shadow: 5px 5px 8px #001778;
    
}

p {
    margin-top: 60%;
    width: 100%;
    left: 0px;
    position: absolute;
    align-self: center;
    font-size: 25pt;
    color: #0267ff;
    z-index: 5;
}

*{box-sizing: border-box}
.slideshow-container{
    max-height: 900px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0%;
    bottom: 0;
    z-index: 0;
    filter: blur(1px);
    mask-image: linear-gradient(to top, rgb(255, 255, 255) 90%, transparent 100%) , linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 5%, transparent 102%);
    mask-composite: intersect;
    transition: 0.6s ease;
}

button {
    padding:5px;
    outline: none;
    width: 15%;
    height: 7%;
    left: 43%;
    position: absolute;
    align-self: center;
    color: #0267ff;
    background-color: #001778;
    font-size: 1.2em;
    margin-top: 65%;
    z-index: 5;
}

footer {
    position: absolute;
    align-self: center;
    color:black;
    left:45%;
    width: 10%;
    margin-bottom: 0%;
    z-index: 6;
}