/* hello world */
h1.home-title {
    font-size: 50pt;
    color: rgb(0, 179, 211);
    
}

p {
    margin-top: 25%;
    font-size: 25pt;
    color: salmon;
}

button {
    padding:5px;
    outline: none;
    font-size: 1.2em;
}