img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: var(--signature-black);
}

.Team {
    margin-top: 40px;
}

.box {
  width: 310px;
  height: 360px;
  background-color: var(--signature-gray);
  display: flex;
  flex-direction: column; /* put elements on top of each other */
  align-items: center;    /* center them horizontally */
  border-radius: var(--card-radius);
}

.teamboxes {
  display: flex; /* Makes the section a flex container */
  justify-content: space-evenly; /* Distributes space evenly between and around items */
  align-items: flex-start; /* Aligns items to the start of the cross axis */
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.teamboxes1 {
  display: flex; /* Makes the section a flex container */
  justify-content: space-around; /* Distributes space evenly between and around items */
  align-items: flex-start; /* Aligns items to the start of the cross axis */
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  gap: 30px;
}

.circle {
    width: 250px; /* Reduced size */
    height: 250px;
    background-color: blue;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--signature-gray);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    color: var(--signature-black);
    align-items: center;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: var(--signature-black);
}

.close-btn:hover {
    color: lightblue;
}

.member-details {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.member-image-large {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.member-info {
    flex: 1;
}

.member-name {
    font-size: 30px;
    margin-bottom: 15px;
}

.member-description {
    margin-bottom: 20px;
    line-height: 1.6;
}

.member-links {
    gap: 10px;
    margin-left: 110px;
}